.btn-med {
	border-radius: 20px;
	border: 2px solid lightgrey;

	opacity:0.8;
	font-family: "Montserrat", "sans-serif";
	font-weight: lighter;
	color: lightgrey;
	padding: 10px;
}

.btn-med:hover {
	text-decoration: none;
	color: red;
	border: 5px solid red;
	opacity:0.7;
}