.btn-med {
	border-radius: 20px;
	border: 1px solid grey;
	opacity:0.6;
	font-family: "Montserrat", "sans-serif";
	font-weight: lighter;
	color: grey;
	padding: 10px 50px;
}

.btn-med:hover {
	text-decoration: none;
	color: red;
	border: 5px solid red;
	opacity:0.5;
}