.product {
	display: flex;
	align-items: center;
	padding: 10px;
}

.product-upvote {
	text-align: center;
	padding: 5px;
}

.product-description {
	flex: 1 0 auto;
	padding: 0 10px;
} 

.product-option {
	font-size: 20px;
	color: lightgrey;
}

.product h3{
	margin-top: 0;
}

.product p{
	margin-bottom: 0;
}

.product:hover {
	background: lightgrey;
}